.zona_viaje {
    height: 1000px;
    position: relative;
    background-color: #f0f0f0;
    /* Opcional: solo para visualizar la zona */
}

/* El componente se queda quieto arriba en la pantalla */
.componente_fijo {
    position: sticky;
    top: 0;
    /* Se pega al borde superior de la pantalla de inmediato */
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
