.cardLink{
    text-decoration: none;
    color: var(--primary-color);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; 
    box-sizing: border-box;
    gap: 1rem;
}
.cardImage{
    width: 100%;
}
.cardImage img{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    border-radius: 1.5rem;
}